# --- BACKEND ---
backend/venv/
backend/__pycache__/
*.pyc
backend/.pytest_cache/

# --- FRONTEND ---
frontend/node_modules/
frontend/dist/
frontend/.env.local

# --- SECRETOS ---
.env
backend/.env
serviceAccountKey.json
backend/serviceAccountKey.json
*.pem

# --- SISTEMA ---
.DS_Store
Thumbs.db